// @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        header{
            h1{
                // color:red;
                font-family: 'Sacramento';
                font-style: italic;
                text-align: center;
                padding: 15px 0;
                box-shadow: 0px -20px 53px -6px rgba(0,0,0,0.75);
            }
        }
    }
}