// @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
$yellow:#ddbb95;
$lightGray:#eee;
$darkGray:#626d71;
$brown:#b38866;
$gray:#cdcec0;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .container {
        .header {
            position: sticky;
            top: 0;

            .header__title {
                padding: 15px 0;
                font-size: 3rem;
                background:$brown;
                text-align: center;
                font-style: italic;
                font-family: 'Sacramento';
                box-shadow: 0px -20px 53px -6px rgba(0, 0, 0, 0.75);
                transition: ease-in-out;
                transition-duration: 0s;
                .header__link{
                    color:black;
                    text-decoration: none;
                }
            }

        }

        .scrollHeader {
            .header__title {
                font-size: 2rem;
            }
        }

        .main {
            font-family: 'Oswald', sans-serif;

            .banner {
                height: 30vw;
                background: rgba(0, 0, 0, 0.6);

                .banner_image {
                    position: fixed;
                    top: -5vw;
                    width: 100vw;
                    z-index: -10;
                }
            }

            .content {
                background: $lightGray;
                min-height: 70vh;

                .content__info {
                    margin: 0 20vw;
                    padding: 30px 0;
                    max-width: 1200px;
                    display: grid;
                    grid-template-rows: repeat(3, 300px);
                    row-gap: 40px;


                    .info__child {
                        padding: 2em 2.5em;
                        border-radius: 1em;
                        background: white;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: 100%;
                        column-gap: 50px;

                        .info__text {
                            width: 100%;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            .info__title {
                                margin-bottom: 10px;
                                font-size: 1.5rem;
                            }
                        }

                        .info__picture {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                border-radius: 2px;
                                max-height: 100%;
                                max-width: 100%;
                            }
                        }

                    }
                }

                .products {
                    padding: 30px 0;
                    background: $yellow;
                    .products__title {
                        margin-top: 40px;
                        font-size: 2em;
                        text-align: center;
                    }
                    .products__title:first-of-type{
                        margin-top: 0;

                    }

                    .products__product {
                        padding:2em;
                        margin:0 10vw;
                        margin-top:15px;
                        background: $lightGray;
                        border-radius: 1em;
                        border: solid $darkGray 1px;    
                        box-shadow: 0px 0px 97px -70px rgba(0,0,0,0.75);
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        column-gap: 15px;
                        .product__text{
                            display:flex;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            .product__title{
                                font-size: 1.7em;
                                margin-bottom: 10px;
                            }
                            .product__price{
                                justify-self: flex-start;
                                align-self: center;
                            }
                        }
                        .product__picture {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .productsLists{
                    background: $lightGray;

                    .productsLists__productList{
                        padding:1em;
                        .productList__title{
                            font-size: 2em;
                        }
                        .productList__list{
                            margin-left:50px;
                            overflow: auto;
                            list-style-type: none;
                            display:flex;
                            flex-direction: row;
                            align-items: center;
                            border-radius: 1em;

                            .list_product{
                                background: white;
                                border-radius: 1em;
                                padding: 1px;
                                min-width: 250px;
                                max-width: 250px;
                                .product__content{
                                    text-decoration: none;
                                    color:black;
                                    padding: 1em;
                                    height:100%;
                                    display: grid;
                                    grid-template-rows: 200px 1fr;
                                    row-gap: 5px;
                                    grid-template-columns: 100%;
                                    .product__image{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width:100%;
                                        img{
                                            max-height:100%;
                                            max-width: 100%;
                                        }
                                    }
                                    .product__title{
                                        font-size: 1.2em;
                                    }
                                    .product__price{
                                        font-size:1em;
                                    }
                                }
                            }
                            .list_product+.list_product{
                                margin-left: 15px;
                            }
                        }
                        ::-webkit-scrollbar {
                            width: 0px;
                            height: 0;
                            background: transparent;
                        }
                    }
                }
            }
        }
        .footer{
            font-family: 'Oswald', sans-serif;

            background: $darkGray;
            display: grid;
            grid-template-columns: 1fr 500px 1fr;
            grid-template-rows:200px;
            .footer_content{
                grid-area: 1/2/2/3;
                display: flex;
                justify-content: center;
                align-items:flex-end;
                margin-bottom: 5%;
                font-size: .8em;
            }
            .footer__media{
                grid-area: 1/2/2/3;
                display: flex;
                justify-content: center;
                text-align: center;
                margin-top: 5%;
                font-size: 1.2em;
            }
        }
    }
}