* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body .container header h1 {
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  background: #b38866;
  font-family: 'Sacramento';
  font-style: italic;
  text-align: center;
  padding: 15px 0;
  -webkit-box-shadow: 0px -20px 53px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -20px 53px -6px rgba(0, 0, 0, 0.75);
  font-size: 3rem;
}

body .container header h1 a {
  text-decoration: none;
  color: black;
}

body .container .scrollHeader h1 {
  font-size: 2rem;
}

body .container main {
  font-family: 'Oswald', sans-serif;
}

body .container main .banner {
  height: 30vw;
  background: rgba(0, 0, 0, 0.6);
}

body .container main .banner img {
  top: -5vw;
  z-index: -10;
  position: fixed;
  width: 100vw;
}

body .container main .content {
  background: #eee;
  min-height: 70vh;
}

body .container main .content .info {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  row-gap: 40px;
  padding: 30px 0;
  margin: 0 20vw;
}

body .container main .content .info .infoChild {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  background: white;
  border-radius: 1em;
  padding: 2em 2.5em;
}

body .container main .content .info .infoChild .infoText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container main .content .info .infoChild .infoText .title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

body .container main .content .info .infoChild .infoPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main .content .info .infoChild .infoPicture img {
  border-radius: 2px;
  max-height: 100%;
  max-width: 100%;
}

body .container main .content .products {
  padding: 30px 0;
  background: #ddbb95;
}

body .container main .content .products .title {
  font-size: 2em;
  text-align: center;
  margin-top: 40px;
}

body .container main .content .products .title:first-of-type {
  margin-top: 0;
}

body .container main .content .products .product {
  background: #eee;
  padding: 2em;
  margin: 0 10vw;
  margin-top: 15px;
  border: solid #626d71 1px;
  -webkit-box-shadow: 0px 0px 97px -70px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 97px -70px rgba(0, 0, 0, 0.75);
  border-radius: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

body .container main .content .products .product .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .container main .content .products .product .text .title {
  font-size: 1.7em;
  margin-bottom: 10px;
}

body .container main .content .products .product .text .price {
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .container main .content .products .product .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container main .content .productsLists {
  background: #eee;
}

body .container main .content .productsLists .productList {
  padding: 1em;
}

body .container main .content .productsLists .productList .title {
  font-size: 2em;
}

body .container main .content .productsLists .productList ul {
  margin-left: 50px;
  overflow: auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
}

body .container main .content .productsLists .productList ul li {
  background: white;
  border-radius: 1em;
  padding: 1px;
  min-width: 250px;
  max-width: 250px;
}

body .container main .content .productsLists .productList ul li .product {
  text-decoration: none;
  color: black;
  padding: 1em;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 1fr;
      grid-template-rows: 200px 1fr;
  row-gap: 5px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

body .container main .content .productsLists .productList ul li .product .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

body .container main .content .productsLists .productList ul li .product .image img {
  max-height: 100%;
  max-width: 100%;
}

body .container main .content .productsLists .productList ul li .product .title {
  font-size: 1.2em;
}

body .container main .content .productsLists .productList ul li .product .price {
  font-size: 1em;
}

body .container main .content .productsLists .productList ul li + li {
  margin-left: 15px;
}

body .container main .content .productsLists .productList ::-webkit-scrollbar {
  width: 0px;
  height: 0;
  background: transparent;
}

body .container footer {
  font-family: 'Oswald', sans-serif;
  background: #626d71;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px 1fr;
      grid-template-columns: 1fr 500px 1fr;
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
}

body .container footer p {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5%;
  font-size: .8em;
}

body .container footer .media {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 5%;
  font-size: 1.2em;
}
/*# sourceMappingURL=main.css.map */