* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    .container{
        main{
            .product{
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 400px;
                column-gap: 20px;
                .image{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .text{
                    padding: 2em 1em;
                    max-width: 100%;
                    .title{
                        font-size: 2.2em;
                    }
                    .description{
                        margin-top: 20px;
                    }
                    .price{
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}